---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - gitlab-com.css
---

.wrapper
  %section.page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1
          Host your projects on GitLab.com
        %h2
          Unlimited free private repositories and collaborators
  %section.page-container.container.gitlab-com-features
    %h2.text-center
      Supercharge your projects with issue tracking, CI/CD, application monitoring, and more.
    %h3.text-center
      GitLab is the only platform that brings 100% of your software development
      lifecycle into a single UI, helping you eliminate unnecessary steps from
      your workflow and focus exclusively on building and shipping great software.
    %ul.list-unstyled.row.gitlab-com-features-list
      %li.col-md-4
        = icon("unlimited-icon", "", width: 32, height: 32)
        %strong.features-list-title
          Unlimited repositories
      %li.col-md-4
        = icon("unlimited-icon", "", width: 32, height: 32)
        %strong.features-list-title
          Unlimited collaborators
      %li.col-md-4
        = icon("disk-space-icon", "", width: 32, height: 32)
        %strong.features-list-title
          10GB disk space per project
        %span.features-list-sub-title
          (with LFS support)
      %li.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
        = icon("no-install-icon", "", width: 32, height: 32)
        %strong.features-list-title
          No installation required
      %li.col-md-5.col-lg-4
        = icon("import-icon", "", width: 32, height: 32)
        %strong.features-list-title
          Easy import from your current provider
    .row.gitlab-com-plans
      - data.gitlab_com.prices.each_with_index do |price, i|
        .col-md-4.col-lg-3.col-lg-offset-0{ class: ("col-md-offset-2" if i == 0 || i == 2) }
          .panel.panel-gitlab
            %header.panel-heading.text-center= price.title
            .panel-body.text-center.pricing-panel-body
              %h4.pricing-panel-price
                = price.monthly
                - if price.paid
                  %span.pricing-panel-price-side
                    per user
                    per month
                  %div.pricing-panel-price-subtext
                    paid annually at
                    = price.yearly
              %p= price.features
              %p= price.description
              %p.pricing-panel-support{ class: ("is-hidden" unless price.support) }
                = "#{price.support}"
              = link_to price.link_text, price.link, class: "btn cta-btn red"
  %section.gitlab-com-white-section.page-container.gitlab-com-questions
    .container
      %h2.text-center.light
        Frequently Asked Questions
      .faq-holder.clearfix
        - size = (data.gitlab_com.questions.size / Float(2)).ceil
        - data.gitlab_com.questions.each_slice(size).to_a.each do |group|
          = partial "includes/layout/question_group", locals: { group: group }
