---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "Bitbucket Server vs GitLab CE|EE | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_ce_vs_bitbucket_server, product_one: competitors.gitlab_ce, product_two: competitors.bitbucket_server, key_one: :gitlab_ce, key_two: :bitbucket_server }
