---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "SVN vs GitLab | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_vs_svn, product_one: competitors.gitlab_ce, product_two: competitors.svn, key_one: :gitlab_ce, key_two: :svn }
