.member-header
  - if is_pet
    = image_tag "/images/team/pets/#{member.picture}", alt: member.name, width: 200, height: 200, class: 'member-id'
  - else
    = image_tag "/images/team/#{member.picture}", alt: member.name, width: 120, height: 120, class: 'member-id'
  .info
    %h3
      = member.name
    %h4
      = member.role
    - if member.specialty
      %h5
        = member.specialty
        Specialist

    - if member.reports_to
      %h5
        Reports to
        = member.reports_to

    - if member.locality || member.country
      - location = [member.locality, member.country].compact.join(", ")
      %h5
        Lives in
        = link_to location, "https://maps.google.com?q=#{location}"
- if member.maintains
  %ul
    = member.maintains
.social
  - if member.twitter
    %a{href: "https://twitter.com/#{member.twitter}"}
      %span.sr-only
        Twitter
      %i.fa.fa-twitter
  - if member.gitlab
    %a{href: "https://gitlab.com/u/#{member.gitlab}"}
      %span.sr-only
        GitLab
      = partial "includes/logos/logo_sq.svg"
.bio
  %p
    = member.story

%a.close-modal.fa.fa-close{ href: "#close-modal" }
